.cta-btn {
  display: inline-block; // Take the element in the parent's padding
  color: white;
  font-weight: $font-weight-bold;
  font-size: 1rem;
  border-radius: 50px;
  padding: 15px 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 15px;
  background-image: linear-gradient(to bottom, $color-secondary, $color-primary);

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px;
    background-image: linear-gradient(to bottom, lighten($color-secondary, 2%), lighten($color-primary, 5%));
  }
}

.like-button {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: 1em;
  width: 1em;

  .outline-heart, .filled-heart {
    position: absolute;
    top: 0;
    left: 0;
  }

  .outline-heart {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
  }

  .filled-heart {
    background: linear-gradient(to top, lighten($color-secondary, 2%), lighten($color-primary, 5%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    .outline-heart {
      opacity: 0;
    }
    .filled-heart {
      opacity: 1;
    }
  }
}