body {
  box-sizing: border-box;
  margin: unset;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

ul.reset {
  padding: 0;
  list-style-type: none;
}

a.reset {
  color: unset;
  text-decoration: unset;
}