body {
  box-sizing: border-box;
  margin: unset;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

p, h1 {
  margin: unset;
}

ul, ol {
  margin: unset;
  padding: unset;
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: unset;
}