// Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-highlight: #99E2D0;

$color-grey: #EAEAEA;
$color-light-grey: #F7F7F7;
$color-dark-grey: #343434;
$color-light-purple: #F5EDFF;

// Font weights
$font-weight-thin: 100;
$font-weight-regular: 300;
$font-weight-bold: 400;
$font-weight-bolder: 500;