// Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-highlight: #99E2D0;

$color-grey: #EAEAEA;
$color-light-grey: #F7F7F7;
$color-dark-grey: #343434;
$color-light-purple: #F5EDFF;

// Font weights
$font-weight-thin: 100;
$font-weight-bold: 400;
$font-weight-bolder: 500;

// Delays
$menu-loading-title-animation-delay: 0.5s;
$menu-loading-card-animation-delay: 0.1s;

$tablet: "tablet";
$desktop: "desktop";

// Responsivity
$breakpoints: (
  $tablet: 768px,
  $desktop: 992px,
);